In [13]:
import pandas as pd
import plotly_express as px

file_path = "Data/Folkhalsomyndigheten_Covid19.xlsx"
sheet_name = "Totalt antal per region"

df_antal_fall = pd.read_excel(file_path, sheet_name = sheet_name, usecols = "A,B,E,D")

df_antal_fall.head(1)

,Region,Totalt_antal_fall,Totalt_antal_intensivvårdade,Totalt_antal_avlidna
0,Blekinge,30829,85,184

In [14]:
file_path = "Data/Folkhalsomyndigheten_Covid19_Vaccine.xlsx"
sheet_name = "Vaccinationer tidsserie"

df_vaccinationer = pd.read_excel(file_path, sheet_name = sheet_name)

df_vaccinationer.head()

   Vecka    År        Region  Antal vaccinationer
0     52  2020   | Sverige |                 2478
1     52  2020     Stockholm                  289
2     52  2020       Uppsala                    9
3     52  2020  Södermanland                  116
4     52  2020  Östergötland                  214

In [15]:
# naming country properly
df_vaccinationer.replace("| Sverige |", "Sverige", inplace = True)
df_vaccinationer

      Vecka    År          Region  Antal vaccinationer
0        52  2020         Sverige                 2478
1        52  2020       Stockholm                  289
2        52  2020         Uppsala                    9
3        52  2020    Södermanland                  116
4        52  2020    Östergötland                  214
...     ...   ...             ...                  ...
2107     42  2022       Gävleborg               726017
2108     42  2022  Västernorrland               632660
2109     42  2022        Jämtland               328655
2110     42  2022    Västerbotten               724409
2111     42  2022      Norrbotten               659824

[2112 rows x 4 columns]

In [16]:
df_vaccinationer["Vecka"] = df_vaccinationer["År"].astype(str) + "v" + df_vaccinationer["Vecka"].astype(str)
df_vaccinationer.drop("År", axis = "columns", inplace = True)
df_vaccinationer

        Vecka          Region  Antal vaccinationer
0     2020v52         Sverige                 2478
1     2020v52       Stockholm                  289
2     2020v52         Uppsala                    9
3     2020v52    Södermanland                  116
4     2020v52    Östergötland                  214
...       ...             ...                  ...
2107  2022v42       Gävleborg               726017
2108  2022v42  Västernorrland               632660
2109  2022v42        Jämtland               328655
2110  2022v42    Västerbotten               724409
2111  2022v42      Norrbotten               659824

[2112 rows x 3 columns]

In [17]:
# renaming different names of same region to match
df_antal_fall.loc[(df_antal_fall["Region"] == "Sörmland"), "Region"] = "Södermanland"
df_antal_fall.loc[(df_antal_fall["Region"] == "Jämtland Härjedalen"), "Region"] = "Jämtland"

df_antal_fall

,Region,Totalt_antal_fall,Totalt_antal_intensivvårdade,Totalt_antal_avlidna
0,Blekinge,30829,85,184
1,Dalarna,75091,260,544
2,Gotland,11874,46,82
3,Gävleborg,74803,332,754
4,Halland,108822,229,518
5,Jämtland,34347,95,197
6,Jönköping,89662,414,756
7,Kalmar,62810,135,385
8,Kronoberg,51460,162,410
9,Norrbotten,50755,267,459
10,Skåne,346727,819,2587
11,Stockholm,606611,2645,5626
12,Södermanland,67918,446,662
13,Uppsala,93746,462,722
14,Värmland,69277,193,411
15,Västerbotten,60186,195,393
16,Västernorrland,56224,217,678
17,Västmanland,78438,156,534
18,Västra Götaland,444278,1670,3342
19,Örebro,98929,276,525
20,Östergötland,98793,440,890

In [18]:
# adding total pop in sweden, from sum of pop of all regions
df_antal_fall = pd.concat(
    [
        df_antal_fall,
        pd.DataFrame(
            {
                "Region": ["Sverige"],
                "Totalt_antal_fall": [df_antal_fall["Totalt_antal_fall"].sum()],
                "Totalt_antal_intensivvårdade": [df_antal_fall["Totalt_antal_intensivvårdade"].sum()],
                "Totalt_antal_avlidna": [df_antal_fall["Totalt_antal_avlidna"].sum()],
            }
        ),
    ],
    ignore_index=True,
)
df_antal_fall.tail(1)

,Region,Totalt_antal_fall,Totalt_antal_intensivvårdade,Totalt_antal_avlidna
21,Sverige,2611580,9544,20659

In [19]:
len(df_antal_fall["Region"].unique()) # all regions, including sverige, now accounted for

22

In [20]:
# merging dataframes together
df_antal_fall_vaccinationer = df_antal_fall.merge(df_vaccinationer[df_vaccinationer["Vecka"] == "2022v42"].reset_index(drop = True), on = "Region")
df_antal_fall_vaccinationer #drop = True drops index,
# TODO rename cols

,Region,Totalt_antal_fall,Totalt_antal_intensivvårdade,Totalt_antal_avlidna,Vecka,Antal vaccinationer
0,Blekinge,30829,85,184,2022v42,402759
1,Dalarna,75091,260,544,2022v42,738829
2,Gotland,11874,46,82,2022v42,164795
3,Gävleborg,74803,332,754,2022v42,726017
4,Halland,108822,229,518,2022v42,842638
5,Jämtland,34347,95,197,2022v42,328655
6,Jönköping,89662,414,756,2022v42,882818
7,Kalmar,62810,135,385,2022v42,644639
8,Kronoberg,51460,162,410,2022v42,470521
9,Norrbotten,50755,267,459,2022v42,659824
10,Skåne,346727,819,2587,2022v42,3100690
11,Stockholm,606611,2645,5626,2022v42,5322674
12,Södermanland,67918,446,662,2022v42,731135
13,Uppsala,93746,462,722,2022v42,986104
14,Värmland,69277,193,411,2022v42,763774
15,Västerbotten,60186,195,393,2022v42,724409
16,Västernorrland,56224,217,678,2022v42,632660
17,Västmanland,78438,156,534,2022v42,669908
18,Västra Götaland,444278,1670,3342,2022v42,4007364
19,Örebro,98929,276,525,2022v42,757350
20,Östergötland,98793,440,890,2022v42,1210948
21,Sverige,2611580,9544,20659,2022v42,24768511

In [21]:
# TODO get befolkning
# TODO plot