# Anonymization

- pseudoanonymization

In [10]:
import hashlib as hl

string_to_hash = "supersäkert_lösen0rd".encode()
string_to_hash2= "Supersäkert_lösen0rd".encode()
string_to_hash3= "ド私".encode()

hl.sha256(string_to_hash).hexdigest(), hl.sha256(string_to_hash2).hexdigest(), hl.sha256(string_to_hash3).hexdigest()

('919508f6494495c4bbebc2c87f3dee7b9245bebcd462ec1591fedc5e7fca0386',
 '98b8b43ac8e49f673fd150ebf3d8c39fc4f5a76edfee2b4150a17757d2f58743',
 'b63be869d16db98be19b6661eb7bca5730bd6050b9943e523bb6e128d31466e5')

In [9]:
string_to_hash3 = "ド私".encode()
string_to_hash3

b'\xe3\x83\x89\xe7\xa7\x81'

In [11]:
hl.sha256(string_to_hash).hexdigest() == hl.sha256("supersäkert_lösen0rd".encode()).hexdigest()

True

## Example with Pandas

In [14]:
import pandas as pd

df = pd.read_csv("../Data/BankChurners.csv", usecols = ["CLIENTNUM", "Attrition_Flag", "Customer_Age", "Gender", "Total_Trans_Amt"])
df.head()

   CLIENTNUM     Attrition_Flag  Customer_Age Gender  Total_Trans_Amt
0  768805383  Existing Customer            45      M             1144
1  818770008  Existing Customer            49      F             1291
2  713982108  Existing Customer            51      M             1887
3  769911858  Existing Customer            40      F             1171
4  709106358  Existing Customer            40      M              816

In [15]:
df["CLIENTNUM"]

0        768805383
1        818770008
2        713982108
3        769911858
4        709106358
           ...
10122    772366833
10123    710638233
10124    716506083
10125    717406983
10126    714337233
Name: CLIENTNUM, Length: 10127, dtype: int64

In [17]:
# can only hash string, so changing numbers to string
df["CLIENTNUM"] = df["CLIENTNUM"].astype(str)
df["CLIENTNUM"]

0        768805383
1        818770008
2        713982108
3        769911858
4        709106358
           ...
10122    772366833
10123    710638233
10124    716506083
10125    717406983
10126    714337233
Name: CLIENTNUM, Length: 10127, dtype: object

In [19]:
# apply takes each value and applies function
# lambda x does something with value
# since apply takes out each value, x goes through the values of all values in the series object
hashes_clientnum = df["CLIENTNUM"].apply(lambda x: hl.sha256(x.encode()).hexdigest())
hashes_clientnum.head()

0    c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...
1    7996e2340d70489252370a5df035ec99381c8344cc3511...
2    6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...
3    f86b86a1047317685f29c399059b199858685faf5ec6a8...
4    0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...
Name: CLIENTNUM, dtype: object

In [20]:
df.insert(1, "Hash_clientnum", hashes_clientnum)
df.head()

,CLIENTNUM,Hash_clientnum,Attrition_Flag,Customer_Age,Gender,Total_Trans_Amt
0,768805383,c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...,Existing Customer,45,M,1144
1,818770008,7996e2340d70489252370a5df035ec99381c8344cc3511...,Existing Customer,49,F,1291
2,713982108,6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...,Existing Customer,51,M,1887
3,769911858,f86b86a1047317685f29c399059b199858685faf5ec6a8...,Existing Customer,40,F,1171
4,709106358,0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...,Existing Customer,40,M,816