# 1. Find missing values

---
## a) 
Read in the file "student-mat-missing-data.csv" found in the course github repo into a Pandas DataFrame

In [7]:
import pandas as pd

fp = "../data/student-mat-missing-data.csv"
df = pd.read_csv(fp)

---
## b) 
Do some initial explorations with the methods to get an understanding of the dataset:  
*head(), info(), describe(), value_counts(), unique(), columns()*

In [8]:
df.head()

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,...,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,...,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,...,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,GP,F,15.0,U,GT3,T,4,2,health,...,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,GP,F,16.0,U,GT3,T,3,3,other,...,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  395 non-null    int64
 1   school      395 non-null    object
 2   sex         395 non-null    object
 3   age         381 non-null    float64
 4   address     390 non-null    object
 5   famsize     395 non-null    object
 6   Pstatus     395 non-null    object
 7   Medu        395 non-null    int64
 8   Fedu        395 non-null    int64
 9   Mjob        395 non-null    object
 10  Fjob        395 non-null    object
 11  reason      395 non-null    object
 12  guardian    395 non-null    object
 13  traveltime  395 non-null    int64
 14  studytime   395 non-null    int64
 15  failures    395 non-null    int64
 16  schoolsup   395 non-null    object
 17  famsup      395 non-null    object
 18  paid        395 non-null    object
 19  activities  395 non-null    object
 20  nursery     395 non-null    object
 21  higher      395 non-null    object
 22  internet    395 non-null    object
 23  romantic    395 non-null    object
 24  famrel      390 non-null    float64
 25  freetime    379 non-null    float64
 26  goout       390 non-null    float64
 27  Dalc        395 non-null    int64
 28  Walc        395 non-null    int64
 29  health      390 non-null    float64
 30  absences    390 non-null    float64
 31  G1          395 non-null    int64
 32  G2          395 non-null    int64
 33  G3          395 non-null    int64
dtypes: float64(6), int64(11), object(17)
memory usage: 105.0+ KB

In [10]:
df.describe()

,Unnamed: 0,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,381.000000,395.000000,395.000000,395.000000,395.000000,395.000000,390.000000,379.000000,390.000000,395.000000,395.000000,390.000000,390.000000,395.000000,395.000000,395.000000
mean,197.000000,16.700787,2.749367,2.521519,1.448101,2.035443,0.334177,3.943590,3.237467,3.120513,1.481013,2.291139,3.548718,5.569231,10.908861,10.713924,10.415190
std,114.170924,1.275157,1.094735,1.088201,0.697505,0.839240,0.743651,0.896665,0.990201,1.112370,0.890741,1.287897,1.394604,7.232395,3.319195,3.761505,4.581443
min,0.000000,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,98.500000,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,197.000000,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,295.500000,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,394.000000,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,56.000000,19.000000,19.000000,20.000000

---
## c) 
Create a function that takes in a DataFrame as input parameter and plots a barplot with the columns that have missing values.  
Put this function into a file called data_utils.py.  
When you come across more useful functions, you can store them in your data_utils module

---
## d) 
Now import your function from the module data_utils and use it to visualize NaNs in your dataset

---
## e) 
Find all rows where the freetime is NaN

---
## f) 
Find all rows where the freetime or the age is NaN

---
## g) 
You will notice that some rows have several NaNs. Now compute the proportion that these rows constitute of the whole dataset